<p>
 <table>
    <tr>
	<th>Title</th>
	<th>Admin</th>
    </tr>
 <tr>
    <td> <%= @add_proj.title %> </td>
     <td> <%= @add_proj.admin %> </td>
 </tr>
</table>
</p>
<%= link_to 'Back', add_project_index_path %>
   
