<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings</h1>
    <p>
      We come to know that you have forgotten your password!
      your password is: <%= @user.password %>.<br>
    </p>
    <p>
      Try not to lose the password again. We are not responsible.
    </p>
	<p>
		Just kidding! We have your back!
	</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
